debian-glib-tumbler-patch/output/
debian-glib-tumbler-patch/work/
debian-gtk3-filechooser-patch/output/
debian-gtk3-filechooser-patch/work/
command-not-found/output/
command-not-found/work/
globalprotect-openconnect/output/
globalprotect-openconnect/work/
hadolint/output/
hadolint/work/
hadolint/debian/hadolint/
