debian-glib-tumbler-patch/output/
debian-glib-tumbler-patch/work/
debian-gtk3-filechooser-patch/output/
debian-gtk3-filechooser-patch/work/
command-not-found/output/
command-not-found/work/
globalprotect-openconnect/output/
globalprotect-openconnect/work/
hadolint/output/
hadolint/work/
hadolint/debian/hadolint/
dpkg-zstd/output/
dpkg-zstd/work/
dnscrypt-proxy/output/
dnscrypt-proxy/work/
docker-buildx/output/
docker-buildx/work/
docker-compose-v2/output/
docker-compose-v2/work/
