#!/usr/bin/make -f
export STACK_FLAGS = --system-ghc --no-install-ghc --skip-ghc-check

install:
	cp debian/stack.yaml .
	stack -j$$(nproc) --local-bin-path=./debian/hadolint/usr/bin install $(STACK_FLAGS)

%:
	dh $@
